@import url("../themes/auto/auto.css");

span.TridactylHint {
    position: absolute !important;
    font-family: var(--tridactyl-hintspan-font-family) !important;
    font-size: var(--tridactyl-hintspan-font-size) !important;
    font-weight: var(--tridactyl-hintspan-font-weight) !important;
    color: var(--tridactyl-hintspan-fg) !important;
    -webkit-text-fill-color: var(--tridactyl-hintspan-fg) !important;
    background: var(--tridactyl-hintspan-bg) !important;
    border-color: var(--tridactyl-hintspan-border-color) !important;
    border-width: var(--tridactyl-hintspan-border-width) !important;
    min-width: 0.75em !important;
    border-style: var(--tridactyl-hintspan-border-style) !important;
    padding: 2pt !important;
    text-align: center !important;
    z-index: 2147483646 !important;
}

span.TridactylHint.TridactylHintSpanActive {
    background: var(--tridactyl-hintspan-active-bg) !important;
    color: var(--tridactyl-hintspan-active-fg) !important;
    -webkit-text-fill-color: var(--tridactyl-hintspan-active-fg) !important;
    border-color: var(--tridactyl-hintspan-active-border-color) !important;
}

span.TridactylHintCharPressed {
    color: var(--tridactyl-hintspan-pressed-fg) !important;
    -webkit-text-fill-color: var(--tridactyl-hintspan-pressed-fg) !important;
}

div.TridactylHintHighlight,
div.TridactylHintHighlightActive,
div.TridactylHintOutline,
div.TridactylHintOutlineActive {
    position: absolute !important;
}

div.TridactylHintHighlightHost {
    opacity: var(--tridactyl-hint-overlay-highlight-opacity) !important;
}

div.TridactylHintHighlight {
    background: var(--tridactyl-hint-overlay-highlight) !important;
}
div.TridactylHintHighlightActive {
    background: var(--tridactyl-hint-overlay-active-highlight) !important;
}
div.TridactylHintOutline {
    outline: var(--tridactyl-hint-overlay-outline) !important;
}
div.TridactylHintOutlineActive {
    outline: var(--tridactyl-hint-overlay-active-outline) !important;
}

span.TridactylHintA {
    z-index: 2147483647 !important;
}

span.TridactylHintUppercase,
span.TridactylHintUppercase > span {
    text-transform: uppercase !important;
}

div.TridactylHintHighlightActive,
div.TridactylHintOutlineActive {
    z-index: 1 !important;
}

.TridactylHintElem,
.TridactylHintActive {
    animation: none !important;
    transition: unset !important;
}

div.TridactylHintHost,
div.TridactylHintHighlightHost,
div.TridactylHintOutlineHost {
    left: 0 !important;
    top: 0 !important;
    position: absolute !important;
    contain: layout style !important;
    z-index: 2147483647 !important;
}

span.TridactylJSHint {
    background-color: var(--tridactyl-hintspan-js-background) !important;
}
.TridactylKilledElem {
    display: none !important;
}
